default:
  database:
    local:
      host: localhost
      port: 5432
      username: postgres
      dbname: sars_cov_2
    server:
      host: HOST
      port: 5432
      username:USER
      dbname: sars_cov_2
      password: PASSWORD
  cluster:
      name: CLUSTERNAME
      user: CLUSTERUSER
      keyfile: KEYFILE
      uploads: CLUSTERUPLOADSFOLDER
