# Build artifacts
__pycache__
/database/java/.gradle
/database/java/bin

# Test artifacts
.pytest_cache
/tests/database_dump.bak
logs

# Configuration files
/tests/database.yaml
/database/config.yml

# Files auto-created by operating system
Thumbs.db
.DS_Store

# Editors
.idea/

# Configs
database/config.yml


logs

**/.*.sw?
**/.RData
**/.Rhistory

