# Build artifacts
__pycache__
/database/java/.gradle
/database/java/bin

# Configuration files
/database/config.yml

# Dev tools
.idea/
**/.RData
**/.Rhistory
**/.*.sw?
logs

# OS cruft
Thumbs.db
.DS_Store
