# Build artifacts
/database/
/transfer-tool/
/data/
/R/

# Run-time artifacts in local folder
/spsp/*
!/spsp/.gitkeep

# Run-time artifacts in container
/vpipe/*
/config.yml
/harvester-config.yml
/spsp-config.yml

# Secrets
/identities/*
!/identities/.gitkeep
/config/env_*.*
